<header class="site-header">
  <a class="skip-link" href="#main">Skip to content</a>
  <div class="brand">
    <img src="/images/site/logo.png" width="40" height="40" alt="" />
    <span class="brand-title">CSE Motors</span>
  </div>
  <a class="account" href="#" aria-label="My Account">My Account</a>
</header>
