<header class="site-header">
  <a class="skip-link" href="#main">Skip to content</a>
  <div class="brand">
    <img src="/images/site/logo.png" width="40" height="40" alt="" />
    <span class="brand-title">CSE Motors</span>
  </div>
  <ul>
    <% if (locals.loggedin) { %>
      <li style="float:right">
        <a href="/account/">Welcome <%= locals.account_firstname %></a>
      </li>
      <br />
      <li style="float:right">
        <a href="/account/logout">Logout</a>
      </li>
    <% } else { %>
      <li style="float:right">
        <a href="/account/login">MY ACCOUNT</a>
      </li>
    <% } %>
  </ul>
</header>
