<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title || "CSE Motors" %></title>
<link rel="icon" href="/images/site/logo.png" type="image/png" />
<link href="/css/styles.css" rel="stylesheet" media="screen" />
