<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> | CSE Motors</title>
  <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
  <main id="main-content" class="container">
    <h1><%= title %></h1>
    <%- detailHTML %>
  </main>
</body>
</html>
