<%- include('../partials/header') %>

<main class="wrapper">
    <h1>Vehicle Management</h1>

    <% if (message && message.length) { %>
    <p class="notice"><%= message %></p>
    <% } %>

    <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    <li><a href="/">View Inventory by Classification</a></li>
    </ul>
</main>

<%- include('../partials/footer') %>
